---
import Layout from '../layouts/Layout.astro';
import Badge from '../components/Badge.astro';
import SocialPill from '../components/SocialPill.astro'
import LinkedInIcon from '../components/icons/LinkedInIcon.astro';
import GitHubIcon from '../components/icons/GitHubIcon.astro';
import EmailIcon from '../components/icons/EmailIcon.astro';
import Briefcase from '../components/icons/Briefcase.astro';
import CodeIcon from '../components/icons/CodeIcon.astro';
import Experience from '../components/Experience.astro';
import Projects from '../components/Projects.astro';
import SectionContainer from '../components/SectionContainer.astro'
---

<Layout 
	title="Portfolio de Giannina Sarappa - Desarrollador y programador web y móvil"
	description="Contrata a Giannina Sarappa para crear tu aplicación web o móvil. Desarrollador Web. Especializada en crear aplicaciones únicas.">
	
	<main class="max-w-500 min-w-320">
		<SectionContainer class="img-hey-dispo">
			<div class="flex flex-col items-center lg:flex-row lg:items-center lg:justify-center">
				<div class="relative flex-shrink-0 mr-0 mb-4 lg:mr-8 lg:mb-0">
					<img class="rounded-full w-20 h-20 lg:w-24 lg:h-24" src="https://media.licdn.com/dms/image/D4D03AQHk8GuCZPaePQ/profile-displayphoto-shrink_200_200/0/1708708837144?e=1715212800&v=beta&t=tmSEaEg-2h_AdbOVxfvKLvjHzwbGWWBhanTBkqMFR4o" alt="giannina photo" />
				</div>
				<div class="text-center lg:text-left">
					<h1 class="text-black text-2xl md:text-3xl lg:text-4xl font-bold mb-2 lg:mb-0">Hey, soy Giannina</h1>
					<a href="https://www.linkedin.com/in/gianninasarappa/" target="_blank" rel="noopener" class="inline-block ml-0 mt-2 lg:ml-0 lg:mt-5"><Badge>Disponible para trabajar</Badge></a>
				</div>
			</div>
		</SectionContainer>
		
		<SectionContainer class="desc-pills mx-4 lg:mx-auto lg:max-w-[900px] lg:px-8 lg:py-12">
			<div class="flex justify-center items-center">

				<h2 class="text-xl lg:text-xl text-wrap max-w-[700px]">
					<span>Junior Frontend & iOS Developer.</span>
					<span class="text-red-500/90"> De Buenos Aires a Barcelona, España.</span>
					<span class="opacity-95"> Especializada en crear aplicaciones únicas.</span>
				</h2>
			</div>
			
			<nav class="flex flex-wrap gap-4 lg:mt-10 mt-4 justify-center">
				<SocialPill href="https://www.linkedin.com/in/gianninasarappa/">
					<LinkedInIcon class="size-4 md:size-6" />
						LinkedIn
				</SocialPill>    
				<SocialPill href="https://github.com/GianninaGit/">
					<GitHubIcon class="size-4 md:size-6" />
						GitHub
				</SocialPill>    
				<SocialPill href="giannina.work@gmail.com">
					<EmailIcon class="size-4 md:size-6" />
						giannina.work@gmail.com
				</SocialPill>    
			</nav> 
		</SectionContainer>
		
		<SectionContainer id="experiencia" class="experiencia mx-4 lg:mx-auto lg:max-w-[900px] lg:px-8 lg:py-12">
			<div>
				<h2 class="text-2xl font-semibold mb-6 flex gap-x-3 items-center">
					<Briefcase class="size-8" />
					Experiencia laboral</h2>
				<Experience />
			</div>
		</SectionContainer>
		
		<SectionContainer id="proyectos" class="proyectos mx-4 lg:mx-auto lg:max-w-[900px] lg:px-8 lg:py-12">
			<h2 class="text-2xl font-semibold mb-6 flex gap-x-3 items-center">
				<CodeIcon class="size-8" />
				Proyectos</h2>
			<Projects />
		</SectionContainer>
	</main>
</Layout>

