---
import Layout from '../layouts/Layout.astro';
import Badge from '../components/Badge.astro';
import SocialPill from '../components/SocialPill.astro'
import LinkedInIcon from '../components/icons/LinkedInIcon.astro';
import GitHubIcon from '../components/icons/GitHubIcon.astro';
import EmailIcon from '../components/icons/EmailIcon.astro';
import Briefcase from '../components/icons/Briefcase.astro';
import CodeIcon from '../components/icons/CodeIcon.astro';
import Experience from '../components/Experience.astro';
import Projects from '../components/Projects.astro';
import SectionContainer from '../components/SectionContainer.astro'
---

<Layout 
	title="Portfolio de Giannina Sarappa - Desarrollador y programador web y móvil"
	description="Contrata a Giannina Sarappa para crear tu aplicación web o móvil. Desarrollador Web. Especializada en crear aplicaciones únicas.">
	
	<main class="max-w-500 min-w-320">
		<SectionContainer class="py-44 pb-30">
			<div class="relative">
				<img 
					class="rounded-full w-12 h-12 mb-4 absolute left-0 top-0" 
					src="https://media.licdn.com/dms/image/D4D03AQHk8GuCZPaePQ/profile-displayphoto-shrink_200_200/0/1708708837144?e=1715212800&v=beta&t=tmSEaEg-2h_AdbOVxfvKLvjHzwbGWWBhanTBkqMFR4o" 
					alt="giannina photo" 
				/>
    		
			<h1 class="text-black text-3xl md:text-4xl lg:text-5xl font-bold flex justify-center flex-row gap-x-4 pb-6 lg:pb-10">
				Hey, soy Giannina <a href="https://www.linkedin.com/in/gianninasarappa/" target="_blank" rel="noopener" class="flex justify-center items-center">
					<Badge>Disponible para trabajar</Badge></a></h1> 
			<h2 class="text-xl lg:text-2xl text-wrap max-w-[700px]">
				<span>Junior Frontend & iOS Developer.</span>
				<span class="text-red-500/90"> De Buenos Aires a Barcelona, España.</span>
				<span class="opacity-75"> Especializada en crear aplicaciones únicas.</span></h2>
			
				<nav class="flex gap-4 mt-8 flex-wrap">
					<SocialPill href="https://www.linkedin.com/in/gianninasarappa/">
						<LinkedInIcon class="size-4 md:size-6" />
							LinkedIn
					</SocialPill>	
					<SocialPill href="https://github.com/GianninaGit/">
						<GitHubIcon class="size-4 md:size-6" />
							GitHub
					</SocialPill>	
					<SocialPill href="giannina.work@gmail.com">
						<EmailIcon class="size-4 md:size-6" />
							giannina.work@gmail.com
					</SocialPill>	
				</nav>	
		</SectionContainer>

		<SectionContainer id="experiencia">
			<h2 class="text-2xl font-semibold mb-6 flex gap-x-3 items-center">
				<Briefcase class="size-8" />
				Experiencia laboral</h2>
			<Experience />
		</SectionContainer>
		
		<SectionContainer id="proyectos">
			<h2 class="text-2xl font-semibold mb-6 flex gap-x-3 items-center">
				<CodeIcon class="size-8" />
				Proyectos</h2>
			<Projects />
		</SectionContainer>
	</main>
</Layout>

